@import "../../style.scss";
.register {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bgSoft);

    .simple-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .dot {
            position: absolute;
            border-radius: 50%;
            opacity: 0;
            will-change: transform, opacity;
            transform: translateZ(0);
            backface-visibility: hidden;

            @for $i from 1 through 200 {
                &:nth-child(#{$i}) {
                    left: random(100) * 1%;
                    top: random(100) * 1%;
                    animation: pulseMove random(6) + 4s ease-in-out infinite;
                    animation-delay: random(8) * -1s;

                    $size: random(6) + 3px;
                    width: $size;
                    height: $size;

                    $opacity: random(50) / 100 + 0.5;
                    background: rgba(139, 0, 255, $opacity);
                }
            }
        }
    }

    .theme-toggle {
        position: absolute;
        top: 40px;
        right: 50px;
        font-size: 30px;
        cursor: pointer;
        opacity: 0;
        transition-duration: 0.4s;
        animation: onLoading 1s 2.2s forwards;

        &:hover {
            scale: calc(1.2);
        }
    }

    .theme-toggle-sun {
        color: yellow;
    }

    .theme-toggle-moon {
        color: black;
    }

    .register-box {
        position: relative;
        padding: 25px;
        display: flex;
        flex-direction: column;
        width: 400px;
        min-height: 600px;
        height: fit-content;
        border-radius: 4px;
        background-color: var(--bg);
        box-shadow: 0 0 5px #ccc;
        animation: onLoading 1s forwards;
        z-index: 100;
        @include tablet {
            padding: 20px;
            width: 350px;
            min-height: 525px;
        }
        @include mobile {
            padding: 15px;
            width: 300px;
            min-height: 450px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 40px;
            width: 50px;
            height: 75px;
            background-color: var(--secondary-color);
            z-index: 1;
            @include tablet {
                width: 50px;
                height: 75px;
            }

            @include mobile {
                width: 50px;
                height: 75px;
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 27px;
            right: 40px;
            height: 0;
            border-style: solid;
            border-color: transparent transparent var(--bg) transparent;
            border-width: 25px;
            z-index: 1;
        }

        .title{
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
            opacity: 0;
            animation: onLoading 1s 1s forwards;
            @include tablet {
                margin-bottom: 12px;
            }
            @include mobile {
                margin-bottom: 10px;
            }

            span.please-span{
                font-size: 15px;
                font-weight: bold;
                color: var(--textColorSoft);
                @include tablet {
                    font-size: 13px;
                }
                @include mobile {
                    font-size: 12px;
                }
            }

            span.welcome-span {
                font-size: 35px;
                font-weight: bold;
                color: var(--textColor);
                @include tablet {
                    font-size: 30px;
                }
                @include mobile {
                    font-size: 25px;
                }
            }
        }

        .inputs {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
            opacity: 0;
            animation: onLoading 1s 1.2s forwards;
            @include tablet {
                margin-bottom: 12px;
            }
            @include mobile {
                margin-bottom: 10px;
            }

            .label-and-input {
                position: relative;
                margin: 10px 0;
                display: flex;
                flex-direction: column;
                @include tablet {
                    margin: 8px 0;
                }
                @include mobile {
                    margin: 6px 0;
                }

                &:focus-within {
                    .label {
                        animation: onInputSelected 0.5s ease forwards;
                    }
                }

                label.label{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 10px;
                    font-size: 18px;
                    color: var(--textColorSoft);
                    background-color: var(--bgSoft);
                    transition-duration: 0.4s;
                    @include tablet {
                        font-size: 16px;
                    }
                    @include mobile {
                        font-size: 14px;
                    }
                }

                input.input {
                    padding: 10px;
                    height: 45px;
                    width: 100%;
                    border-radius: 5px;
                    border: 1px solid var(--border-color-input);
                    transition-duration: 0.4s;
                    background-color: var(--bgSoft);
                    @include tablet {
                        padding: 8px;
                        height: 40px;
                    }
                    @include mobile {
                        padding: 6px;
                        height: 35px;
                    }

                    &:focus {
                        border-color: var(--secondary-color);
                    }
                }
            }
        }

        .accept-terms-and-policy {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-bottom: 10px;
            opacity: 0;
            animation: onLoading 1s 1.4s forwards;

            input.terms-and-policy-checkbox {
                cursor: pointer;
            }

            span.terms-and-policy-span {
                font-size: 15px;
                color: var(--textColor);
                @include tablet {
                    font-size: 13px;
                }
                @include mobile {
                    font-size: 12px;
                }

                a.terms-link {
                    color: var(--secondary-color);
                }

                a.policy-link {
                    color: var(--secondary-color);
                }
            }
        }

        button.send-button {
            border: 2px solid var(--bg);
            padding: 10px 0;
            background-color: var(--secondary-color);
            border-radius: 5px;
            color: var(--bg);
            font-size: 18px;
            font-weight: bold;
            width: 100%;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition-duration: 0.4s;
            opacity: 0;
            animation: onLoading 1s 1.6s forwards;
            @include tablet {
                padding: 8px 0;
                font-size: 16px;
                height: 40px;
            }
            @include mobile {
                padding: 6px 0;
                font-size: 14px;
                height: 35px;
            }

            &:hover {
                background-color: var(--bg);
                border: 2px solid var(--secondary-color);
                color: var(--secondary-color);
            }
        }

        .line {
            margin: 15px 0;
            width: 100%;
            height: 1px;
            background-color: var(--border);
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            animation: onLoading 1s 1.8s forwards;

            span.line-span {
                font-size: 16px;
                font-weight: bold;
                width: 40px;
                height: fit-content;
                background-color: var(--bg);
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--textColorSoft);
                @include tablet {
                    font-size: 14px;
                }
                @include mobile {
                    font-size: 12px;
                }
            }
        }

        .other-options {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;
            gap: 60px;
            opacity: 0;
            animation: onLoading 1s 2s forwards;
            @include tablet {
                margin-bottom: 13px;
            }
            @include mobile {
                margin-bottom: 12px;
            }

            a.option-link {
                transition-duration: 0.4s;

                &:hover {
                    transform: scale(1.2);
                }

                i.option-icon {
                    font-size: 25px;
                    @include tablet {
                        font-size: 23px;
                    }
                    @include mobile {
                        font-size: 20px;
                    }
                }

                i.icon-google {
                    color: rgb(255, 0, 0);
                }

                i.icon-facebook {
                    color: blue;
                }

                i.icon-microsoft {
                    color: rgb(133, 208, 22);
                }
            }
        }

        .switch-page {
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            animation: onLoading 1s 2.2s forwards;

            span.switch-page-span {
                font-size: 16px;
                color: var(--textColor);
                @include tablet {
                    font-size: 14px;
                }
                @include mobile {
                    font-size: 12px;
                }

                a.switch-page-link {
                    color: var(--secondary-color);
                }
            }
        }
    }
    .back-box {
        position: absolute;
        width: 400px;
        min-height: 600px;
        height: fit-content;
        background-color: var(--secondary-color);
        rotate: calc(8deg);
        border-radius: 4px;
        box-shadow: 0 0 5px #ccc;
        opacity: 0;
        animation: onLoading 1s 2.4s forwards;
        @include tablet {
            width: 350px;
            min-height: 525px;
        }
        @include mobile {
            width: 300px;
            min-height: 450px;
        }
    }
}